/* &display=swap */
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,regular,500,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700&display=swap);

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background: rgb(162, 207, 0);
  opacity: 1;
  box-shadow: 0 0 11px 5px;
}
body {
  font-family: "Merriweather";
  font-size: 18px;
  font-style: normal;
  background: url("../image/1631887766_7-papik-pro-p-tsvetnie-risunki-malenkie-7.jpg")
    round;
}
.header {
  background: url("../image/9-750x500.jpg") 50% / cover no-repeat;
}
.header-title {
  font-family: "M+PLUS+1p";
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  color: rgb(7, 163, 15);
  max-width: 300px;
  padding: 20px;
  margin: 0 auto 30px;
  background: white;
}
.main-text {
  color: rgb(243, 3, 223);
  border: 2px solid red;
  box-shadow: inset 0 0 3px 6px red;
  margin: 0 0 30px 15px;
  padding: 10px;
  max-width: 750px;
  background: url("../image/interesnye-fakty-o-lego.png") 50% 30% / cover
    no-repeat;
  overflow: hidden;
}
.main-text-2 {
  border: 20px dotted rgb(202, 156, 4);
  max-width: 650px;
  padding: 10px;
  margin: 0 0 30px auto;
  background: url("../image/1631887766_7-papik-pro-p-tsvetnie-risunki-malenkie-7.jpg")
    10px 10px fixed;
}
.main-desk {
  font-family: "Amatic+SC";
  font-size: 21px;
  font-weight: 700;
  font-style: italic;
}
.main-aside {
  padding: 10px;
  margin: 0 0 30px 10px;
  max-width: 700px;
  color: yellow;
  background: url("../image/fullsize.png") left top/90px no-repeat,
    url("../image/Без\ названия.jfif") right/60px no-repeat,
    url("../image/lf2.jpg") 50% / cover no-repeat;
  border-radius: 10px;
}
.main-aside-2 {
  max-width: 550px;
  margin: 0 auto 30px;
  padding: 10px;
  box-shadow: inset 0 0 5px 5px rgb(116, 109, 109), inset 0 0 3px 6px #000;
  border-radius: 5px;
  color: #ffff;
  background: linear-gradient(
    153deg,
    rgba(167, 187, 57, 1) 0%,
    rgba(240, 28, 0, 0.5186449579831933) 61%,
    rgba(79, 231, 140, 1) 100%
  );
}
.excerpt {
  max-width: 500px;
  max-height: 300px;
  margin: 0 0 25px 10px;
  overflow: auto;
  background: url("../image/check.png") 0 0/40px 40px repeat-y, grey;
  padding: 0 0 0 45px;
}
#excerpt-title {
  font-size: 22px;
  margin-bottom: 15px;
  color: blue;
  text-decoration: underline;
  background: brown;
}
.excerpt-text {
  font-size: 19px;
  background: linear-gradient(
    153deg,
    rgba(57, 125, 187, 1) 0%,
    rgba(240, 0, 170, 0.5186449579831933) 61%,
    rgba(136, 231, 79, 1) 100%
  );
}
.footer {
  max-width: 320px;
  margin: 0 auto 20px;
}
.footer-link {
  display: inline-block;
  font-family: "Bebas+Neue";
  font-size: 50px;
  text-decoration: line-through;
  border: 20px solid rgba(48, 80, 148, 0.678);
}
